@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --div-size: 450px;
}

html {
  box-sizing: border-box;
}

body {
  align-items: center;
  background: url("../public/Colored\ Shapes.svg");
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

body,
.input-field,
.input-field::placeholder {
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 100%; */
}

.wrapper {
  max-width: 100%;
}

.container {
  background-color: #0e3f74;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: rgb(208, 208, 208);
  margin: 0;
  margin-top: 30%;
  min-width: 100px;
  padding: 50px;
  padding-top: 30px;
  text-align: center;
  width: var(--div-size);
}

.container h1 {
  letter-spacing: 2px;
}

.input-bar {
  box-sizing: border-box;
  margin-bottom: 30px;
}

.input-field {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background-color: #14477d;
  color: rgb(208, 208, 208);
  height: 35px;
  outline: none;
  padding: 0 10px;
  vertical-align: middle;
  width: 80%;
}

.input-field::placeholder {
  color: rgb(208, 208, 208);
}

.add-btn {
  background-color: hsla(230, 50%, 50%, 0.5);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 10px;
  vertical-align: middle;
  padding: 5px 9px 5px 10px;
  transition: 0.5s;
}

.add-btn:hover {
  opacity: 0.5;
}
.counter {
  display: block;
  font-size: 11px;
  margin-top: 5px;
  margin-left: 5%;
  text-align: left;
}
.item {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  max-width: 100%;
  padding: 5px 10px;
  width: 100%;
  word-break: break-all;
}

.item li {
  list-style-type: none;
  margin: 5px 0;
  margin-right: auto;
  margin-left: 10px;
  max-width: 100%;
  text-align: left;
  width: calc(var(--div-size) / 2);
}

.item button {
  border: none;
  background-color: red;
  border-radius: 100%;
  cursor: pointer;
  font-size: 15px;
  color: white;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin: auto;
  margin-left: 15px;
  padding: 7px 9px;
  transition: 0.3s;
}

.item button:hover {
  opacity: 0.6;
}

.item-checkbox {
  background: #0e3f74;
  accent-color: green;
}

@media screen and (max-width: 500px) {
  body {
    display: block;
  }
  .container {
    margin-top: 20%;
    padding: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 310px) {
  .input-field {
    width: 70%;
  }
}
